In [11]:
import pandas as pd

In [12]:
conn_uri = 'postgresql://itversity_retail_user:itversity@localhost:5432/itversity_retail_db'

In [15]:
%load_ext sql

In [16]:
%env DATABASE_URL=postgresql://itversity_retail_user:itversity@localhost:5432/itversity_retail_db

env: DATABASE_URL=postgresql://itversity_retail_user:itversity@localhost:5432/itversity_retail_db

In [17]:
%%sql 

truncate table orders

Done.

[]

In [18]:
def get_column_names(schemas, ds_name, sorting_key='column_position'):
    column_details = schemas[ds_name]
    columns = sorted(column_details, key=lambda col : col[sorting_key])
    return [col['column_name'] for col in columns]

In [22]:
import json
base_path = f'data/retail_db'
folderName = 'orders'
fileName = 'part-00000'
schemas = json.load(open(file=f'{base_path}/schemas.json')) 
original_file_loc = f'{base_path}/{folderName}/{fileName}'
columns = get_column_names(schemas=schemas,ds_name=folderName)
data = pd.read_csv(original_file_loc, header=None, names=columns)

In [25]:
data.to_sql('orders', conn_uri, if_exists='replace',index=False)

883

In [26]:
pd.read_sql('orders', conn_uri)

       order_id             order_date  order_customer_id     order_status
0             1  2013-07-25 00:00:00.0              11599           CLOSED
1             2  2013-07-25 00:00:00.0                256  PENDING_PAYMENT
2             3  2013-07-25 00:00:00.0              12111         COMPLETE
3             4  2013-07-25 00:00:00.0               8827           CLOSED
4             5  2013-07-25 00:00:00.0              11318         COMPLETE
...         ...                    ...                ...              ...
68878     68879  2014-07-09 00:00:00.0                778         COMPLETE
68879     68880  2014-07-13 00:00:00.0               1117         COMPLETE
68880     68881  2014-07-19 00:00:00.0               2518  PENDING_PAYMENT
68881     68882  2014-07-22 00:00:00.0              10000          ON_HOLD
68882     68883  2014-07-23 00:00:00.0               5533         COMPLETE

[68883 rows x 4 columns]