To set env variables using notebooks:
%env DB_HOST=localhost

To use sql in notebooks: 
1) Load the sql extension using -> %load_ext sql

In [1]:
%load_ext sql

2) Create an env variable for db connection string 
%env DATABASE_URL=postgres://itversity_retail_user:itversity@localhost:5432/itversity_retail_db

where, 
database type -> postgres
username -> itversity_retail_user
password -> itversity
server -> localhost
port no -> 5432
db name -> itversity_retail_db

In [2]:
%env DATABASE_URL=postgresql://itversity_retail_user:itversity@localhost:5432/itversity_retail_db

env: DATABASE_URL=postgresql://itversity_retail_user:itversity@localhost:5432/itversity_retail_db

In [3]:
%env DATABASE_URL

'postgresql://itversity_retail_user:itversity@localhost:5432/itversity_retail_db'

In [4]:
%config SqlMagic.style = '_DEPRECATED_DEFAULT'

In [5]:
%%sql

SELECT * FROM orders LIMIT 10

10 rows affected.

[(1, '2013-07-25 00:00:00.0', 11599, 'CLOSED'),
 (2, '2013-07-25 00:00:00.0', 256, 'PENDING_PAYMENT'),
 (3, '2013-07-25 00:00:00.0', 12111, 'COMPLETE'),
 (4, '2013-07-25 00:00:00.0', 8827, 'CLOSED'),
 (5, '2013-07-25 00:00:00.0', 11318, 'COMPLETE'),
 (6, '2013-07-25 00:00:00.0', 7130, 'COMPLETE'),
 (7, '2013-07-25 00:00:00.0', 4530, 'COMPLETE'),
 (8, '2013-07-25 00:00:00.0', 2911, 'PROCESSING'),
 (9, '2013-07-25 00:00:00.0', 5657, 'PENDING_PAYMENT'),
 (10, '2013-07-25 00:00:00.0', 5648, 'PENDING_PAYMENT')]